<% content_for(:title, t('.title')) %>
<div class="min-h-screen flex flex-col justify-center items-center">
  <div class="container mx-auto px-10">
    <h1 class="text-4xl text-center mb-10"><%= t('.title') %></h1>
    <section>
      <div class="grid grid-cols-1 gap-4 mb-20">
        <div class="bg-white p-6 text-center rounded-lg shadow-xl mx-3 border border-gray-500">
          <p class="text-lg md:text-xl my-10 text-lg">お問い合わせは、下記Xアカウントまでよろしくお願いします。</p>
          <%= link_to "https://twitter.com/muscle_02", "https://twitter.com/muscle_02",
            target: '_blank',
            rel: 'noopener noreferrer',
            class: 'text-lg hover:text-blue-600 transition duration-300 font-gorilla underline' %>
        </div>
      </div>
    </section>
  </div>
</div>
