<!DOCTYPE html>
<body>
  <div class="container mx-auto px-10">
    <header class="text-center my-12">
      <h1 class="text-4xl font-bold text-gray-800">トレゴリ</h1>
      <p class="text-gray-600">毎日の運動で、特別なゴリラを手に入れよう！</p>
    </header>
    <section>
      <div class="grid grid-cols-1 gap-4">
        <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
          <h2 class="text-2xl font-bold text-gray-800 mb-3">使い方①</h2>
          <p class="text-gray-600">使い方①ついての説明。</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
          <h2 class="text-2xl font-bold text-gray-800 mb-3">使い方②</h2>
          <p class="text-gray-600">使い方②ついての説明。</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
          <h2 class="text-2xl font-bold text-gray-800 mb-3">使い方③</h2>
          <p class="text-gray-600">使い方③ついての説明。</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-xl mx-3 border border-gray-500">
          <h2 class="text-2xl font-bold text-gray-800 mb-3">使い方④</h2>
          <p class="text-gray-600">使い方④ついての説明。</p>
        </div>
      </div>
    </section>
    <div class="container mx-auto px-4 py-10">
      <div class="text-center my-12">
        <a href="#" class="px-10 py-5 bg-blue-500 text-white font-bold rounded-lg shadow-lg hover:bg-blue-600">さっそくはじめる →</a>
      </div>
      <div class="text-center my-12">
        <a href="#" class="link link-hover">ログインはこちら</a>
      </div>
    </div>
  </div>
</body>
</html>