<div id="modal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
  <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="text-center">
      <%= image_tag "modal_gorilla.png", size: "300x300", class:"mx-auto" %>
      <span class="loading loading-dots loading-lg"></span>
      <div class="mt-3">
        <p class="text-base md:text-lg mb-3">現在労いの言葉を考えているウホ</p>
        <p class="text-base md:text-lg">もうしばらく待ってねウホ</p>
      </div>
    </div>
  </div>
</div>
